@charset "utf-8";
* { outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html{background:#fff;overflow:auto;}
body{min-width:1200px;font:14px/1.5 "Microsoft Yahei";font-weight:lighter;color:#333; -webkit-font-smoothing: antialiased; }
a{color:#333; text-decoration:none; cursor:pointer; outline: 0 none;}
a:hover{ text-decoration:none;/*color:#ff4f20;*/}
a:focus{-moz-outline-style:none; border:0px;blr:expression(this.onFocus=this.blur());}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0;}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}
ol,li,ul,dl,dt,dd{list-style:none;}
fieldset,img {border:0}
img{vertical-align: middle;}
button,submit,input,select { vertical-align:middle;}
button,submit { cursor:pointer;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:lighter;}
table{border-collapse:collapse; border-spacing:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
select,button{font-family:inherit; font-size:inherit; font-weight:inherit; outline-style:none; outline-width:0pt; padding: 0; margin: 0;}
b,em,i{display:inline-block; font-weight:normal; font-style:normal;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;} .clearfix{ zoom:1;}

.box{position: fixed;width: 100%;height: 100%;top: 0;left: 0;}
.video-bg{position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 3;object-fit: cover;}
.box-top{position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 6;}
.cont-det{position: absolute;width: 650px;background: rgba(0,0,0,.4);right: 0;height: 100%;}
.cont-det .logo{width: 95%;margin: 0 auto;}
.cont-box{width: 305px;margin: 0 auto;margin-top: 20%;}
.cont-box p{margin: 0;font-size: 20px;color: #fff;margin-top: 35px;margin-bottom: 50px;text-align: center;}
.flex{display: flex;margin-bottom: 30px;}
.al-cent{align-items: center;}
.justify-end{justify-content: flex-end;}
.flex-sub{width: 260px;}
.flex-sub input{width: 100%;height: 34px;border-radius: 3px;background: #fff;font-size: 14px;color: #333;padding: 0 8px;border: 0;box-sizing: border-box;}
.login-btn{height: 41px;border-radius:3px;background: #acd735;text-align: center;font-size: 14px;color: #2b3356;line-height: 41px;cursor: pointer;font-weight: bold;}
.login-btn:active,.login-btn:hover{opacity: .6;}
.flex .code-box{width: 170px;}
.flex .img-code{width: 170px;}
.flex .img{margin-right: 20px;}


